<body>
    <div class="index-top-pic">
        <%- include("header") %>
            <div class="index-title">
                <div class="first-row">
                    <h1>Magañ</h1>
                    <h2 class="white">- l'atelier végétal</h2>
                </div>
                <div class="second-row">
                    <h3 class="white">
                        Cultiver le vivant, éveiller les sens
                    </h3>
                </div>
            </div>
    </div>

    <!-- ===== BOUTONS ADMIN ===== -->
    <section class="admin-buttons">
        <div class="boutons-admin-container">
            <a href="/admin/ajout_produit" class="btn-admin">Ajouter un produit</a>
            <a href="/admin/modif_produit" class="btn-admin">Modifier un produit</a>
        </div>
    </section>

    <section class="presentation">
        <div class="presentation-first-column">
            <h2 class="black">L'atelier végétal</h2>
            <div class="separateur"></div>
            <p>
                Magañ c’est tout d’abord un projet mais ce n’est pas un projet comme les autres, mené par Camille
                Montier,
                ce projet est divisé en plusieurs catégories et regroupe le maraîchage diversifié, la transformation,
                l’arboriculture ainsi qu’une pépinière spécialisée.
            </p>
            <a class="voir-plus" href="/admin/presentation"> Voir plus</a>
        </div>
        <div class="presentation-second-column">
            <img src="/img/presentation_picture.png" alt="Présentation de l'atelier végétal">
        </div>
    </section>

    <section class="liste-categorie">
        <div>
            <h2 class="white">Découvrez nos catégories</h2>
            <div class="separateur-white"></div>
        </div>

        <div class="boutons-categories">
            <a href="catalogue_produit?valeur=pepiniere" class="categorie-lien">
                <img src="/img/pepiniere.png" class="categorie-illu">
                <h3>Pépinière spécialisée</h3>
            </a>
            <a href="catalogue_produit?valeur=arboriculture" class="categorie-lien">
                <img src="/img/arboriculture.png" class="categorie-illu">
                <h3>Arboriculture</h3>
            </a>
            <a href="catalogue_produit?valeur=maraichage" class="categorie-lien">
                <img src="/img/maraichage.png" class="categorie-illu">
                <h3>Maraichage diversifié</h3>
            </a>
            <a href="catalogue_produit?valeur=transformation" class="categorie-lien">
                <img src="/img/transfo.png" class="categorie-illu">
                <h3>Transformation</h3>
            </a>
        </div>
    </section>

    <section class="horaire">
        <div class="horaire-first-column">
            <div id="map"></div>
            <a class="aller" href="https://www.google.com/maps/dir/?api=1&destination=5+Calvin+22170+Lanrodec"
                target="_blank">
                J'y vais !
            </a>
        </div>

        <div class="horaire-second-column">
            <h2>Nos horaires</h2>
            <div class="separateur"></div>

            <div class="second-column-info-cont">
                <div class="info-cont-column">
                    <div class="title-wrapper">
                        <i class="fa-solid fa-store" style="color: #98e39d;"></i>
                        <h3 class="black">Cette semaine</h3>

                    </div>

                    <% const jours=['lundi','mardi','mercredi','jeudi','vendredi','samedi','dimanche'];
                        jours.forEach(function(jour) { const ligne=horaires.find(h=> h.jour === jour);
                        %>
                        <div class="horaire-ligne">
                            <span class="horaire-jour">
                                <%= jour.charAt(0).toUpperCase() + jour.slice(1) %>
                            </span>
                            <span class="horaire-valeur">
                                <%= ligne && ligne.horaire ? ligne.horaire : 'Non renseigné' %>
                            </span>
                            <br><br>
                        </div>
                        <% }) %>
                            <% if (userRole==='admin' ) { %>
                                <a class="btn-admin" href="/admin/modif_horaire">Modifier</a>
                                <% } %>
                </div>


                <div class="info-cont-column">
                    <div class="title-wrapper">
                        <i class="fa-solid fa-location-dot" style="color: #98e39d;"></i>
                        <h3 class="black">Où nous retrouver</h3>
                    </div>
                    <p class="address">5 Calvin, 22170<br>Lanrodec</p>
                </div>
            </div>
        </div>

    </section>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script>
        const lat = 48.516944;
        const lng = -3.029722;

        const map = L.map('map').setView([lat, lng], 15);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; OpenStreetMap'
        }).addTo(map);

        L.marker([lat, lng]).addTo(map)
            .bindPopup("<b>Magañ - l'atelier végétal</b><br>5 Calvin<br>22170 Lanrodec");
    </script>

    <%- include("footer") %>
</body>

</html>