.login-container{
    display:flex;
    min-height:60vh;
}


/* colonne gauche */

h1{
    text-transform: capitalize;
}

.login-left{
    width:70%;
    display:flex;
    justify-content:center;
    padding-top: 100px;
}

.card-connexion{
    width:500px;
}

.card-connexion h1{
    font-size:36px;
    margin-bottom:10px;
}

.separateur{
    width:100px;
    height:2px;
    background:black;
    margin-bottom:30px;
}

.aetm{
    display:flex;
    flex-direction:column;
}

.aetm p{
    margin-bottom:5px;
}

.aetm input{
    padding:12px;
    border:2px solid #8ccf88;
    margin-bottom:20px;
    outline:none;
}


.lienconn{
    width:100%;
    padding:14px;
    background:#8ccf88;
    border:none;
    font-size:18px;
    cursor:pointer;
    margin-top:10px;
}

.lienconn:hover{
    background:#78b774;
}


.autres-moyens{
    display:flex;
    gap:20px;
    margin-top:10px;
}

.autres-moyens i{
    cursor:pointer;
}





/* colonne droite */

.login-right{
    width:50%;
    margin-bottom: -0.3%;
}

.login-right img{
    width:100%;
    height:80vh;
    object-fit:cover;
}


@media screen and (max-width: 768px) {
    .login-right{
    display: none;
}
.login-left{
    width:100%;
    padding: 5%;
}
}