.logo {
    height:115px;
    width:auto;
    margin-left:30%;
}

.connexion-button,
.contact-button {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.connexion-button {
    width: 7em;
    margin-top: 5%;
}

.contact-button {
    background-color: #79DC81;
    border-radius: 10px;
    width: 8em;
    padding: 8%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contact-button:hover {
    background-color: #356839;
    color: white;
}

.contact-button p {
    margin-top: -8%;
}

header {
    display: flex;
}

.button-container {
    display: flex;
    margin-left: 72%;
    height: 2em;
    margin-top: 2%;
}


.mobilemenu {
    display: none;
}

.mlv {
    display: none;
}
.separateurmobile {
    display: none;
}

.hidden li {
    display: none;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {

    .logo {
        width: 32.5%;
        height: 100% ;
        z-index: 5;
        margin-left:3%;
    }

    .button-container {
        display: none;
    }


    nav ul {
        display: none;
    }

    .hidden ul li {
        display: none;
    }

    .mobilenav {
        display: block;
        position: absolute;
        top: 1.5%;
        right: 18%;
        z-index: 5;

    }

    .hamburger {
        display: block;
        cursor: pointer;
        background-COLOR: rgba(0, 0, 0, 0);
        BORDER: NONE;
    }

    .bar {
        display: block;
        width: 31px;
        height: 6px;
        background-color: #274D23;
        margin: 5px 0;
        transition: 0.4s;
        border-radius: 25px;
    }

    .mobilemenu {
        background-color: #F1F1F1;
        position: fixed;
        right: 1%;
        width: 45%;
        height: 100%;
        display: flex;
        z-index: 5;
        color: rgb(0, 0, 0);
        box-shadow: #000000 0px 2px 2px;
        flex-direction: column;
        align-items: center;
    }

    .mobilemenu ul {
        position: relative;
        padding: 1em;
    }
    
    .mobilemenu a {
        color: #000000;
        text-decoration: none;
    }

        .mobilemenu li {
    list-style: none;
    }
    .mlv{
        display: block;

    }
    .separateurmobile {
        display: block;
        width: 10%;
        height: 1px;
    }
        .mobilemenu ul i {
            background-color: #D9C9B1;
            padding: 10%;
            border-radius: 50%;
        }
    }