<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magañ - L'atelier du vivant</title>
    <link rel="icon" href="/img/logo-ico.ico" type="image/ico">
    <script src="https://kit.fontawesome.com/08b10a2ab2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>

<div class="error-page">
    <h1 class="404-title"> Error 404</h1>
    <p class="404-p"> 
        Vous vous êtes égarés du droit chemin <br>
    </p>
    <button> 
        <a href="<%= userRole === 'admin' ? '/admin/index' : '/' %>" class="404-retour">
            Retourner du bon côté de la force...
        </a>
    </button>

</div>