<%- include("header") %>
<br><br>  
<div class="separateur-top"></div>

<body>

<div class="login-container">

  <!-- colonne gauche -->
  <div class="login-left">
    <form class="card-connexion" action="/connexion" method="post">

      <h1>Connexion</h1>
      <div class="separateur"></div>

      <div class="aetm">

        <p>Email</p>
        <input type="text" placeholder="Email" name="login">

        <p>Mots de passe</p>
        <input type="password" placeholder="Mot de passe" name="mdp">

      </div>

      <button type="submit" class="lienconn">Connexion</button>

      <div class="message">
        <% if (locals.message){ %>
          <%= message %>
        <% } %>
      </div>

    </form>
  </div>


  <!-- colonne droite -->
  <div class="login-right">
    <img src="/img/connexion_img.jpg" alt="panier légumes">
  </div>

</div>

</body>
<%- include("footer") %>