<footer class="footer">

    <div class="footer-top">

        <div class="footer-left">
            <img src="img/logomagan.png" alt="Logo Magan" class="footer-logo">

            <div class="footer-info">
                <p>
                    <strong>Magañ</strong><br>
                    Cultiver le vivant, Éveiller les sens<br>
                    22340 Lanrodec<br><br>
                    SIRET : 000 000 000 00000
                </p>

                <div class="reseaux">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-map">
            <img src="img/map-illu.png" alt="Carte localisation">
        </div>

    </div>

    <div class="footer-bottom">

        <div class="footer-separator"></div>

        <div class="footer-mentions">
            <p>© 2026 Magañ</p>
            <a href="/mentions-legales">Mentions légales</a>
            <p>Site réalisé par Armori'Com</p>
            <a href="/admin/index">Admin</a>
        </div>

    </div>

</footer>