<footer class="footer">

    <div class="footer-top">

        <div class="footer-left">
            <img src="/img/logomagan.png" alt="Logo Magan" class="footer-logo">

            <div class="footer-info">
                <p>
                    <strong>Magañ</strong><br>
                    Cultiver le vivant, Éveiller les sens<br>
                    22170 Lanrodec<br><br>
                    SIRET : 000 000 000 00000
                </p>

                <div class="reseaux">
                    <a href="#" aria-label="Notre page Facebook"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="#" aria-label="Notre page Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" aria-label="Notre page LinkedIn"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-map">
            <img src="/img/map-illu.png" alt="Carte de localisation">
        </div>

    </div>

    <div class="footer-bottom">

        <div class="footer-separator"></div>

        <div class="footer-mentions">
            <p>© 2026 Magañ</p>
            <a href="/mentions-legales">Mentions légales</a>
            <p>Site réalisé par Armori'Com</p>
            <a href="/connexion">Admin</a>
        </div>

    </div>

</footer>