<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magañ - L'atelier du vivant</title>
    <link rel="icon" href="/img/logo-ico.ico" type="image/ico">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/index.css">

</head>
<body>
    <header>
        <img src="/img/logo-magan.png" alt="Logo Magañ" class="logo" onclick="window.location.href='/logo-accueil'">
        <div class="button-container">
            <button class="nos-produits-button">
                Nos Produits
            </button>
            <button class="contact-button">
                Contact
            </button>
        </div>
  </header>


  
