<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magañ - L'atelier du vivant</title>
    <link rel="icon" href="/img/logo-ico.ico" type="image/ico">
    <script src="https://kit.fontawesome.com/08b10a2ab2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/presentation.css">
    <link rel=stylesheet href="/style/contact.css">
    <link rel=stylesheet href="/style/connexion.css">
    <link rel="stylesheet" href="/style/catalogue.css">
    <link rel="stylesheet" href="/style/404.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />


</head>

<body>
    <header>
        <a href="/">
            <img src="/img/logomagan.png" alt="Logo Magañ" class="logo">
        </a>
        <div class="button-container">
            <a href="presentation" class="connexion-button">
                L'atelier
            </a>
            <a href="contact" class="contact-button">
                <p>Contact</p>
            </a>
        </div>
        <div class="mobilenav">
            <button class="hamburger" id="hamburger" aria-label="Ouvrir le menu de navigation">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <div id="mobileMenu" class="hidden">
            <i class="fa-solid fa-xmark" id="cross"></i>
            <p class="mlv">MAGAÑ - l'atelier végétal</p>
            <div class="separateurmobile"></div>
            <ul>
                <li><a href="presentation">
                        <p>L'atelier</p><i class="fa-solid fa-tree"></i>
                    </a></li>
                <li><a href="catalogue">
                        <p>Produits</p><i class="fa-solid fa-seedling"></i>
                    </a></li>
                <li><a href="contact">
                        <p>Contact</p><i class="fa-solid fa-envelope"></i>
                    </a></li>
            </ul>
        </div>
    </header>

    <script>
        const hamburger = document.getElementById('hamburger');
        const mobileMenu = document.getElementById('mobileMenu');
        const cross = document.getElementById('cross');

        hamburger.addEventListener('click', () => {
            mobileMenu.classList.add('mobilemenu');
            mobileMenu.classList.remove('hidden');
        });

        cross.addEventListener('click', () => {
            mobileMenu.classList.remove('mobilemenu');
            mobileMenu.classList.add('hidden');
        });

    </script>