<body>
    <div class="index-top-pic">
        <%- include("header") %>
            <div class="index-title">
                <div class="first-row">
                    <h1>Magañ</h1>
                    <h2 class="white">l'atelier végétal</h2>
                </div>
                <div class="second-row">
                    <h3 class="white">
                        Cultiver le vivant, éveiller les sens
                    </h3>
                </div>


            </div>
    </div>


    <section class="presentation">


        <div class="presentation-first-column">
            <h2 class="black">L'atelier végétal</h2>
            <div class="separateur"></div>
            <p>
                Magañ c’est tout d’abord un projet mais ce n’est pas un projet comme les autres, mené par Camille
                Montier,
                ce projet est divisé en plusieurs catégories et regroupe le maraîchage diversifié, la transformation,
                l’arboriculture ainsi qu’une pépinière spécialisé.
            </p>
            <a class="voir-plus" href="presentation"> Voir plus</a>
        </div>
        <div class="presentation-second-column">
            <img src="/img/presentation_picture.png" alt="Présentation de l'atelier végétal">
        </div>


    </section>


    <section class="liste-categorie">
        <div>
            <h2 class="white">Découvrez nos catégories</h2>
            <div class="separateur-white"></div>
        </div>


        <div class="boutons-categories">
    <a href="catalogue_produit?valeur=pepiniere" class="categorie-lien">
        <div class="categorie-illu ill1"></div>
        <h3>Pépinière spécialisée</h3>
    </a>
    <a href="catalogue_produit?valeur=arboriculture" class="categorie-lien">
        <div class="categorie-illu ill2"></div>
        <h3>Arboriculture</h3>
    </a>
    <a href="catalogue_produit?valeur=maraichage" class="categorie-lien">
        <div class="categorie-illu ill3"></div>
        <h3>Maraichage diversifié</h3>
    </a>
    <a href="catalogue_produit?valeur=transformation" class="categorie-lien">
        <div class="categorie-illu ill4"></div>
        <h3>Transformation</h3>
    </a>
</div>


    </section>


    <section class="horaire">
    <div class="horaire-first-column">
        <div id="map"></div>
        <a class="aller" href="https://www.google.com/maps/dir/?api=1&destination=5+Calvin+22170+Lanrodec" target="_blank">
            J'y vais !
        </a>
    </div>


    <div class="horaire-second-column">
        <h2>Nos horaires</h2>
        <div class="separateur"></div>


        <div class="second-column-info-cont">
            <div class="info-cont-column">
                <div class="title-wrapper">
                    <i class="fa-solid fa-store" style="color: #98e39d;"></i>
                    <h3 class="black">Cette semaine</h3>
                </div>
            </div>


            <div class="info-cont-column">
                <div class="title-wrapper">
                    <i class="fa-solid fa-location-dot" style="color: #98e39d;"></i>
                    <h3 class="black">Où nous retrouver</h3>
                </div>
                <p class="address">5 Calvin, 22170<br>Lanrodec</p>
            </div>
        </div>
    </div>
</section>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


    <script>
        const lat = 48.48575775075784;
        const lng = -3.0456114382587085;
        //meilleur adresse :50.581787845173984, 1.6628077190092139 (je sais ou t'habite, seb !!!!!!!!!!)


        const map = L.map('map').setView([lat, lng], 15);


        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 17,
            Zoom: 12,
            attribution: '&copy; OpenStreetMap'
        }).addTo(map);


        L.marker([lat, lng]).addTo(map)
            .bindPopup("<b>Magañ - l'atelier végétal</b><br>5 Calvin<br>22170 Lanrodec");
    </script>




    <%- include("footer") %>
 
</body>
</html>

