<%- include("header") %>
<br><br>
    <body>

        <div class="separateur-top"></div>

        <section class="main-presentation">

            <div class="left-column">
                <h2>
                    Magañ, c'est quoi ?
                </h2>
                <div class="separateur"></div>
                <img src="img/guillemet.png" class="guillemet1">
                <p class="contexte">
                    Je m’appelle Camille Montier et je vous présente le projet <span>MAGAÑ - l'atelier végétal</span>
                    que
                    j’ai lancé avec
                    mes parents à Lanrodec.
                    Il regroupe plusieurs catégories comme l’arboriculture, le maraîchage diversifié, la transformation
                    alimentaire et la pépinière spécialisée.
                </p>
                <img src="img/guillemet.png" class="guillemet2">
                <div class="valeurs">
                    <p>
                        Nos valeurs sont :
                    </p>
                    <ul>
                        <li>Le respect de l'environnement et des sols</li>
                        <li>La transmission des savoirs et des valeurs</li>
                        <li class="petit">L'agriculture biologique</li>
                    </ul>
                    <ul>
                        <li>L’ouverture au territoire et à la population</li>
                        <li>La polyvalence et l’apprentissage</li>
                    </ul>
                </div>
            </div>
            <div class="right-column">
                <img src="img/presentation_pic.png" alt="">
            </div>
        </section>


        <section class="video-cont">
            <iframe src="https://youtu.be/M66yocJ7nas?si=50VImGM3uTQZIdAm" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </section>


        <section class="cultural-planning">
            <h2>
                Le planning cultural
            </h2>
            <div class="separateur"></div>
            <img src="img/planning.png" alt="planning culturel">
        </section>
    </body>

    </html>

<%- include("footer") %>