<div class="footer footer-first-part">
    <div class="footer-left-column">
        <img src="/img/logo-magan.png" alt="Logo Magan" class="footer-logo-magan">
        <div class="footer-info-cont">
            <p> <strong> Magañ </strong><br>
                Cultiver le vivant, Éveiller les sens
                <br>
                22340 Lanrodec
                <br><br>
                SIRET : 000 000 000 00000
            </p>

            <div class="reseaux-cont">
                <a href="https://facebook.com">
                    <img src="/img/icone/facebook.png" alt="Facebook" class="reseaux-icone">
                </a>
                <a href="https://instagram.com">
                    <img src="/img/icone/instagram.png" alt="Instagram" class="reseaux-icone">
                </a>
                <a href="https://linkedin.com">
                    <img src="/img/icone/linkedin.png" alt="LinkedIn" class="reseaux-icone">
                </a>
            </div>

        </div>
    </div>

    <div class="footer-right-column">
        <img src="/img/map-illu.png">
    </div>

</div>

<div class="footer-second-part">
    <div class="footer-separateur"></div>
    <div class="mentions">
        <p> © 2026 Magañ </p>
        <a href="/mentions-legales"> Mentions légales </a>
        <p> Site réalisé par Armori'Com</p>
    </div>
</div>
