<%- include ("header") %>

<div class="separateur-top"></div>

<section class="main-presentation">

    <div class="left-column">
        <h2 class="black">
            Magañ, c'est quoi ?
        </h2>
        <div class="separateur"></div>
        <p>
            Magañ est un projet vert mené par Camille Montier à Lanrodec. Il s’agit d’un projet regroupant plusieurs catégories comme l’arboriculuture, le maraîchage diversifié, la transformation alimentaire ou la pépinière spécialisée
            <br>
            Nous souhaitons créer un lieu de vie ouvert et participatif, au croisement de la production agricole, de la transmission de connaissance, et de partage.
            <br>
            Nos valeurs sont : 
        </p>
            <ul>
                <li>Le respect de l'environnement et des sols</li>
                <li>L'agriculture biologique</li>
                <li>La transmission des savoirs et des valeurs</li>
                <li>L’ouverture au territoire et à la population</li>
                <li>La polyvalence et l’apprentissage</li>

                </ul>

            <p>
                L'netreprise inclu à terme : 
            </p>
                <ul>
                <li>Une épicerie de produits locaux</li>
                <li>Des ateliers de formation et de sensibilisation</li>
                <li>Des partenariats avec la restauration locale, à base de produits de maraîchage et pépinière</li>

            </ul>

            <p> <strong>Venez découvrir nos produits</strong></p>
            <button class="voir-plus">Nos produits</button>
        
    </div>
    <div class="right-column">
        <img src="/img/housepc.png" alt="">
    </div>
</section>


<section class="video-cont">
    <iframe 
            src="https://www.youtube.com/embed/VIDEO_ID" 
            title="YouTube video player" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
    </iframe>
</section>


<section class="cultural-planning">
    <img src="/img/cultural-planning.png" alt="planning culturel">
</section>

<%- include ("footer") %>